@{
    ViewData["Title"] = "Home Page";
}
<div class="container float-left">
    <br />
    <br />
    <br />
    <div class="d-flex h-100 ">

        <div class="m-auto" id="adminform" style="width:50%">

            <br />
            <br />
            <br />

            <h2 class="font offset-3 mb-5"><em>KULLANICI GİRİŞİ</em></h2>


            <font class="font offset-2 ">Tc Kimlik No: </font><br />
      
            <input type="text" class="form-control w-75 offset-2" name="identity" id="identity" value="" placeholder="Tc Kimlik No" /><br><br>
            <font class="font offset-2"> Şifre: </font><br />
            <input type="password" class="form-control w-75 offset-2 " name="sifre" id="sifre" placeholder="şifre" />
            <input type="hidden" name="kulAyırma" id="kulAyırma" value="user" />
            <div style="text-align:center;">
                <br />
                <br />
                <br />
                <button onclick="verialma()" id="btnGiriş" class="offset-2">GİRİŞ</button>

            </div>

            <br />
            <br />
            <br />

        </div>



        </div>
</div>
